#quiz,#finish,#Correct,#inCorrect
{
    display: none;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* //background-image: linear-gradient(to left, #aa2ff2, #9e45f7, #9354fb, #8861fd, #7e6cfe); */
background-image: url(../images/bg1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: right;
height: 100vh;
}
section >div{
    backdrop-filter: blur(10px);
    background-color: rgba(193, 193, 193, 0.452); /* updated background color to have alpha channel */
}
.close{
    cursor: pointer;
}
.text-spec
{
    color: #efefef
}
.bg-spec
{
   background-color:  #f9fcff
}
button{
    cursor: pointer;
    background-color: aqua;
}
.alert
{
    display: none;
}
.form-check-input{
    color: antiquewhite;
}


